node_modules/
.vscode/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Está pasta não será mandada para o gitHub por conta de ser um teste ainda
FilterProduct/